<mat-toolbar color="primary" class="flex justify-content-between">

  Homebanking

  <div class="buttons-right">
    <a routerLink="/login" mat-stroked-button *ngIf="!isLoggedIn">
      <mat-icon>login</mat-icon>
      Login
    </a>
    <a routerLink="/sign-up" mat-stroked-button *ngIf="!isLoggedIn">
      <mat-icon>how_to_reg</mat-icon>
      Sign up
    </a>

    <button (click)="logout()" mat-stroked-button *ngIf="isLoggedIn">
      <mat-icon>how_to_reg</mat-icon>
      Log out
    </button>

  </div>
</mat-toolbar>

<router-outlet>