<div class="flex">
  <div class="m-auto">
    <mat-card>
      <mat-card-title>
        Reset Passowrd
      </mat-card-title>

      <mat-card-subtitle>
        Enter your email and a new passowrd
      </mat-card-subtitle>

      <mat-card-content>
        <form action="">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" placeholder="Enter your email" required [(ngModel)]="resetPasswordObject.email" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password" name="password" placeholder="Enter your password" required [(ngModel)]="resetPasswordObject.password" />
          </mat-form-field>

        </form>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions class="btn-right">
        <button (click)="resetPassword()" color="primary" type="submit" mat-raised-button>
          <mat-icon>login</mat-icon>
          <mat-spinner *ngIf="isLoading" diameter="35"></mat-spinner>
          <span *ngIf="!isLoading">Reset Password</span>
        </button>
      </mat-card-actions>


      <!-- <mat-card-actions class="btn-right">
        <button (click)="login()" color="primary" type="submit" mat-raised-button>
          <mat-icon>login</mat-icon>
          <mat-spinner *ngIf="isLoading" diameter="35"></mat-spinner>
          <span *ngIf="!isLoading">Login</span>
        </button>
      </mat-card-actions> -->

    </mat-card>
  </div>
</div>